@charset "utf-8";
body {
    color: #3e3f40;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
    width: 100%;
	line-height: 150%;
}
/**, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }*/
div {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p, form {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
li {
    margin: 0;
    padding: 0;
}
input {
    outline: medium none;
}
dfn, em {
    font-style: normal;
}
@font-face { font-family: "micross_0"; font-style: normal; src: url(../fonts/micross_0.ttf); }
@font-face { font-family: "helvetica"; font-style: normal; src: url(../fonts/helvetica-neue-lt-com-67-medium-condensed.ttf); }

#maindiv {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.wrapper {
    margin: 0 auto;
    width: 960px;
}

/*----------------------------------------Global Classes------------------------------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {font-family: Arial, Helvetica, sans-serif !important; }

h2 {width: 100%; font-size: 28px; font-weight: normal; color: #00305e; padding: 0;}
h3 {width: 100%; font-size: 24px; font-weight: normal; color: #00305e; margin: 5px 0; padding: 0;}
h4 {width: 100%; font-size: 20px; font-weight: normal; color: #00305e; margin: 5px 0; padding: 0;}
h5 {width: 100%; font-size: 16px; font-weight: normal; color: #00305e; margin: 5px 0; padding: 0;}
h6 {width: 100%; font-size: 15px; font-weight: normal; color: #00305e; margin: 5px 0; padding: 0;}

h2.helvetica {width: 100%; font-size: 24px; font-weight: normal; color: #00305e; margin: 14px 0 20px 0; font-family: helvetica !important;}
h2.helvetica18 {width: 100%; font-size: 18px; font-weight: normal; font-family: helvetica !important;}
h2.helvetica16 {width: 100%; font-size: 16px; font-weight: normal; margin: 14px 0 20px 0; font-family: helvetica !important;}
h2.helvetica14 {width: 100%; font-size: 14px; font-weight: normal; margin: 14px 0 5px 0; font-family: helvetica !important;}

.error {min-width: 77%; padding: 10px 35px; background: url(../images/error.png) no-repeat 10px 8px; background-color: #fec7c7; color: #b40d0c; font-size: 12px; display: block;}
.error2 {min-width: 77%; padding: 10px 35px; background: url(../images/error2.png) no-repeat 10px 8px; background-color: #efe276; color: #7c4907; font-size: 13px; display: block;}
.success {min-width: 77%; padding: 10px 35px; background: url(../images/correct.png) no-repeat 10px 8px; background-color: #b7ffb9; color: #0d7410; font-size: 13px; display: block;}

.clear {clear: both;}

.bread-crumb-cont {width: 97.5%; float: left; background-color: #eeeeee; padding: 6px 1.25% 8px 1.25%; margin: 0 0 15px 0;}
.bread-crumb-cont a {font-size: 13px; color: #00305e; float: left; margin: 0 5px 0 0;}
.bread-crumb-cont a:hover {color: #666666;}
.bread-crumb-cont a:after {content: "»"; font-size: 18px; padding: 0 0 0 3px;}
.bread-crumb-cont a:last-child:after {content: "";}

input[type=text], 
input[type=email], 
input[type=tel], 
input[type=number] {background-color: #ccd6df; border: 1px solid #a3b4c4; width: 300px; padding: 4px; float: left; height: 20px; transition : all 0.3s ease-in 0s;}

input[type=text]:focus, 
input[type=email]:focus, 
input[type=tel]:focus, 
input[type=number]:focus {transition : all 0.3s ease-in 0s; border: 1px solid #00315c;}

input[type=password] {background-color: #ccd6df; border: 1px solid #a3b4c4; width: 300px; padding: 4px; float: left; height: 20px; transition : all 0.3s ease-in 0s; }
input[type=password]:focus {transition : all 0.3s ease-in 0s; border: 1px solid #00315c;}

input[type=submit] {background-color: #00305e; color: #fff; padding: 8px 22px; border: none; cursor: pointer; transition : all 0.3s ease-in 0s; float: left; margin: 0 0px 0 0 0;}
input[type=submit]:hover, .login-form form ul li input[type=submit]:focus {color: #fcaf3d; transition : all 0.3s ease-in 0s;}

input.orange[type=submit] {background-color: #fbb03b; color: #fff; padding: 6px 22px; border: none; cursor: pointer; transition : all 0.3s ease-in 0s; float: left; margin: 0 0px 0 0 0;}
input.orange[type=submit]:hover {color: #fff; transition : all 0.3s ease-in 0s; background-color: #00305E;}

input[type=checkbox], input[type=radio] {background: #fff;
border-color: #bbb;
color: #555;
-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

input.checkbox {margin: 0px 5px 0 0;}

.float-left {float: left;}
.float-right {float: right;}

.width10 {width: 10%;}
.width20 {width: 20%;}
.width30 {width: 30%;}
.width40 {width: 40%;}
.width45 {width: 45%;}
.width46 {width: 46%;}
.width47 {width: 47%;}
.width48 {width: 48%;}
.width49 {width: 49%;}
.width50 {width: 50%;}
.width60 {width: 60%;}
.width70 {width: 70%;}
.width95 {width: 95%;}
.width96 {width: 96%;}
.width98 {width: 98%;}
.width100 {width: 100% !important;}

.width110 {width: 110px !important;}
.width170 {width: 170px !important;}
.width726 {width: 726px;}
.width214 {width: 214px;}
.width220 {width: 220px;}
.width206 {width: 206px;}
.width150 {width: 150px;}
.width120 {width: 120px;}
.width240 {width: 240px;}
.width320 {width: 320px;}
.width466 {width: 466px;}
.width440{width: 440px;}
.width725{width: 725px;}
.width960px {width: 960px;}
.width950px {width: 950px;}
.width940px {width: 940px;}
.width930px {width: 930px;}

.height410 {height: 410px;}

.margin0 {margin: 0;}
.padding0 {padding: 0;}

.margin-left5 {margin-left: 5px;}
.margin-left10 {margin-left: 10px;}
.margin-left15 {margin-left: 15px;}
.margin-left20 {margin-left: 20px;}
.margin-left25 {margin-left: 25px;}
.margin-left30 {margin-left: 30px;}
.margin-left35 {margin-left: 35px;}
.margin-left40 {margin-left: 40px;}
.margin-left45 {margin-left: 45px;}
.margin-left50 {margin-left: 50px;}
.margin-left76 {margin-left: 76px;}
.margin-left355 {margin-left: 355px;}

.margin-left25small_percent {margin-left: .25%;}
.margin-left1_percent {margin-left: 1%;}
.margin-left2_percent {margin-left: 2%;}
.margin-left3_percent {margin-left: 3%;}
.margin-left4_percent {margin-left: 4%;}
.margin-left5_percent {margin-left: 5%;}
.margin-left10_percent {margin-left: 10%;}
.margin-left15_percent {margin-left: 15%;}
.margin-left20_percent {margin-left: 20% !important;}
.margin-left25_percent {margin-left: 25%;}
.margin-left30_percent {margin-left: 20%;}
.margin-left35_percent {margin-left: 25%;}
.margin-left40_percent {margin-left: 20%;}
.margin-left45_percent {margin-left: 25%;}
.margin-left50_percent {margin-left: 20%;}




.margin-right5 {margin-right: 5px;} 
.margin-right10 {margin-right: 10px !important;}
.margin-right15 {margin-right: 15px;}
.margin-right20 {margin-right: 20px;}
.margin-right25 {margin-right: 25px;}
.margin-right30 {margin-right: 30px;}
.margin-right35 {margin-right: 35px;}
.margin-right40 {margin-right: 40px;}
.margin-right45 {margin-right: 45px;}
.margin-right50 {margin-right: 50px;}

/*
.margin-right25small_percent {margin-right: .25%;}
.margin-right1_percent {margin-right: 1%;}
.margin-right2_percent {margin-right: 2%;}
.margin-right3_percent {margin-right: 3%;}
.margin-right4_percent {margin-right: 4%;}
.margin-right5_percent {margin-right: 5%;} 
.margin-right10_percent {margin-right: 10%;}
.margin-right15_percent {margin-right: 15%;}
.margin-right20_percent {margin-right: 20%;}
.margin-right25_percent {margin-right: 25%;}
.margin-right30_percent {margin-right: 30%;}
.margin-right35_percent {margin-right: 35%;}
.margin-right40_percent {margin-right: 40%;}
.margin-right45_percent {margin-right: 45%;}
.margin-right50_percent {margin-right: 50%;}
*/

.margin-top0 {margin-top: 0px;}
.margin-top5 {margin-top: 5px;}
.margin-top10 {margin-top: 10px;}
.margin-top15 {margin-top: 15px;}
.margin-top20 {margin-top: 20px !important;}
.margin-top25 {margin-top: 25px;}
.margin-top30 {margin-top: 30px;}
.margin-top35 {margin-top: 35px;}
.margin-top40 {margin-top: 40px;}
.margin-top45 {margin-top: 45px;}
.margin-top50 {margin-top: 50px;}
.margin-top90 {margin-top: 90px;}
.margin-top140 {margin-top: 140px;}

.margin-bottom0 {margin-bottom: 0px;}
.margin-bottom5 {margin-bottom: 5px;}
.margin-bottom10 {margin-bottom: 10px !important;}
.margin-bottom15 {margin-bottom: 15px;}
.margin-bottom20 {margin-bottom: 20px;}
.margin-bottom25 {margin-bottom: 25px;}
.margin-bottom30 {margin-bottom: 30px;}
.margin-bottom35 {margin-bottom: 35px;}
.margin-bottom40 {margin-bottom: 40px;}
.margin-bottom45 {margin-bottom: 45px;}
.margin-bottom50 {margin-bottom: 50px;}


.padding-top5 {padding-top: 5px;}
.padding-top10 {padding-top: 10px;}
.padding-top15 {padding-top: 15px;}
.padding-top20 {padding-top: 20px;}
.padding-top25 {padding-top: 25px;}

.padding-bottom5 {padding-bottom: 5px;}
.padding-bottom10 {padding-bottom: 10px;}
.padding-bottom15 {padding-bottom: 15px;}
.padding-bottom20 {padding-bottom: 20px;}
.padding-bottom25 {padding-bottom: 25px;}

.padding-left5 {padding-left: 5px;}
.padding-left10 {padding-left: 10px;}
.padding-left15 {padding-left: 15px;}
.padding-left20 {padding-left: 20px;}
.padding-left25 {padding-left: 25px;}
.padding-left50 {padding-left: 50px;}

.padding-right5 {padding-right: 5px;}
.padding-right10 {padding-right: 10px;}
.padding-right15 {padding-right: 15px;}
.padding-right20 {padding-right: 20px;}
.padding-right25 {padding-right: 25px;}

.padding-right25small_percent {padding-right: 2.5%;}

.padding-left25small_percent {padding-left: 2.5%;}


.font10 {font-size: 10px;}
.font11 {font-size: 11px;}
.font12 {font-size: 12px;}
.font13 {font-size: 13px;}
.font14 {font-size: 14px;}
.font15 {font-size: 15px;}
.font16 {font-size: 16px;}
.font18 {font-size: 18px;}

.fntwt-nrml {font-weight: normal;}
.fntwt-bld {font-weight: bold;}

.fnt-ittalic {font-style: italic}

.brdr-bot {border-bottom: 1px #b2b2b2 solid;}
.brdr-top {border-top: 1px #a6b5c3 solid;}
.brdr-bot-dot {border-bottom: 1px #c3c3c3 dotted;}
.brdr-top-dot {border-bottom: 1px #c3c3c3 dotted;}
.brdr-lft-dot {border-left: 1px #c3c3c3 dotted;}


.pos-rel {position: relative;}
.pos-abs {position: absolute;}

a.global {color: #00305E; transition : all 0.3s ease-in 0s;}
a.global:hover {color: #fcaf3d; text-shadow: 0 0px 0px #F30;}

a.global1 {color: #3E3F40; transition : all 0.3s ease-in 0s;}
a.global1:hover {color: #00305E;}

a.global2 {color: #fbb039; transition : all 0.3s ease-in 0s;}
a.global2:hover {color: #00305E;}

a.global3 {color: #fff; transition : all 0.3s ease-in 0s; background: #fbb03b; cursor: pointer;}
a.global3:hover {color: #fff; background: #00305E;}

a.global4 {color: #fff; transition : all 0.3s ease-in 0s; background: #00305e; cursor: pointer;}
a.global4:hover {color: #fff; background: #fbb03b;}

a.btn-type1 {background-color: #00305e; color: #fff; padding: 8px 22px; border: none; cursor: pointer; transition : all 0.3s ease-in 0s; margin: 0 0px 0 0 0;}
a.btn-type1 span {float: left; margin: 0 5px 0 0;}
a.btn-type1:hover {color: #fcaf3d; transition : all 0.3s ease-in 0s;}

input.blue[type="button"] {background: #00305e; color: #fff; padding: 5px 10px; border: 0; cursor: pointer;}
input.blue[type="button"]:hover {background: #fbb03b;}
input.orange[type="button"] {background: #fbb03b; color: #fff; padding: 5px 10px; border: 0; cursor: pointer;}
input.orange[type="button"]:hover {background: #00305e;}
input.gray[type="button"] {background: #b3b3b3; color: #fff; padding: 5px 10px; border: 0; cursor: pointer;}
input.gray[type="button"]:hover {background: #00305e;}

.white {color: #fff !important;}
.theme-blue {color: #00305E;}
.dark-grey {color: #323234;}
.light-blue {color: #56b1ff;}
.light-green {color: #67d47b;}
.light-brown {color: #c3a26c;}
.light-black {color: #333}
.colr999 {color: #999;}


.bg-grey {background-color: #eeeeee;}
.bg-blue {background-color: #00305e;}
.bg-light-orange {background-color: #fed79e;}
.bg-light-blue {background-color: #d7e5f0;}
.bg-light-green {background-color: #d8f1dc;}
.bg-light-brown {background-color: #f3e2c8;}
.dark-blue {background-color: #003366;}
.bg-brown {background-color: #fdd79d;}
.bg-lightbrown {background-color: #f7d095;}
.bg-seperator { background: url(../images/seperetor.jpg) no-repeat bottom;}
.bulletlisting {background: url(../images/bullet.jpg) no-repeat 0px 10px; padding: 5px 0 5px 12px; float: left;}
.bg-banner { background: url(../images/bg-banner-full.jpg) no-repeat 0 0;}


.grey-line {height: 2px; background-color: #eeeeee;}
.orange-line {height: 2px; background-color: #d6b582;}
.light-blue-line {height: 1px; background-color: #56b1ff;}
.light-green-line {height: 1px; background-color: #67d47b;}
.light-brown-line {height: 1px; background-color: #c3a26c;}


.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}

.bold {font-weight: bold;}
.normal {font-weight: normal;}
.italic {font-style: italic;}

.underline {text-decoration: underline;}

.radius4{border-radius:4px;}

h6.type1 {background: url(../images/bg-h2.jpg) bottom left repeat-x; padding: 0 0 10px 0;}
h6.type2 {background: #00305e; padding: 8px 0; color: #fff; text-align: center; -moz-border-radius: 6px 6px 0 0; border-radius: 6px 6px 0 0; margin: 0;}
h6.type3 {background: #fbb03b; padding: 8px 0; color: #00305e; text-align: center; -moz-border-radius: 6px; border-radius: 6px; margin: 0;}
h6.type4 {background: #00305e; padding: 8px 0; color: #fff; text-align: left; -moz-border-radius: 6px 6px 0 0; border-radius: 6px 6px 0 0; margin: 0; width: 95%; padding: 8px 2.5%;}

.brdr-rdus-rhgt-bot {border-radius: 0 5px 5px 0;}

ul.type1 {}
ul.type1 li {background: url(../images/bullet-blue.png) no-repeat 0px 10px; padding: 8px 0 8px 20px; width: auto; float: left;}

ul.type2 {}
ul.type2 li {background: url(../images/bullet-blue-arrow.png) no-repeat 10px 10px; padding: 4px 0 4px 19px; width: auto; float: left;}
ul.type2 li a {color: #3E3F40; transition : all 0.3s ease-in 0s; width: 100%;}
ul.type2 li a:hover {color: #00305E;}

.wrap {width:100%; margin: 0 auto;}

/*---------------------------header--------------------------------*/
.header {float: left; border-top: 2px #00305e solid; padding: 20px 10px; position: relative;}
.header .logo {width: 70%; float: left;}
.header .logo h1 {width: 100%; height: 100%; display: block;}
.header .logo h1 a { background: url(../images/logo.png) no-repeat scroll 0 0 transparent; float: left; height: 44px; text-indent: -999999px; width: 175px;}
form.search {/*width: 235px;*/ width: 80%;}
form.search input {float: left; margin: 0; /*width: 185px;*/ width: 80%; border: 1px #00305e solid; padding: 3px; font-size: 13px; color: #3e3f40; background-color: #fff;}
form.search input:focus {background: #ccc; color: #000;}
form.search input.zip {/*width: 238px;*/ background: transparent;}
form.search input.zip:focus {background: #ccc; color: #000;}
form.search input.search {width: 38px; float: left; height: 28px; background: url(../images/bg-search-btn.jpg) no-repeat; cursor: pointer;}
.login a {background: #00305e; padding: 4px 13px; color: #fff; float: right; margin: 10px 0 0 0;}

/*---------------------body----------------------------------*/
.midalign {width: 94%; margin-left: auto; margin-right: auto;}
#banner-wrap {background: url(../images/bg-banner-inner.png); border-radius: 5px; border: 1px #000 solid; margin: 0; padding: 20px 14px; float: left;}
#banner-wrap div.customeselect {float: left; margin-bottom: 10px; /*width: 270px;*/ width: 100%;}
#banner-wrap div.customeselect select {float: left; padding: 9px 0px; margin: 0; border-radius:4px; color:#888; border:none; outline:none; display: inline-block; border: 1px #fff solid; cursor:pointer; /*width: 270px;*/ width: 100%; -webkit-appearance: menulist-button; background: #eaeaea; line-height: 26px;/*for safari*/}
#banner-wrap div.customeselect select.blue {background: #00305e; border: 1px #00305e solid; color: #fff; font-size: 16px; padding: 7px 0px;}	

#banner-wrap input.submitquery {float: left; width: 106px; height: 38px; text-align: center; background: url(../images/bg-search-btn.png) no-repeat; cursor: pointer; margin-left: 3px; border: 0; border-radius: 4px;}
	
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px; }
}
div.customeselect {position:relative}
div.customeselect:after {
    content: url(../images/bg-select.png) ;
    right: 0; top:0px;
    padding:0 0 2px;
    position:absolute;
    pointer-events:none;
	/*right: 123px;*/
}
div.customeselect.blue:after {
    content: url(../images/bg-select-blue.png) ;
    right: 0; top:0px;
    padding:0 0 2px;
    position:absolute;
    pointer-events:none;
}

div.customeselect:before {
    content:'';
    right: 6px; top:0px;
    /*width:20px;*/ 
	height:20px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}
.container{background: #eee; border-radius: 5px; border: 1px #000 solid; margin: 0; padding: 20px 14px; float: left;}









/*---------------menu---------starts-----*/
.header .menudiv {float: left; position: absolute; top: 20px; right: 0;}
.slicknav_menu {
	display:none;
}

@media screen and (max-width: 1600px) {
	.js #menu {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}
}

/*---------------menu---------ends-----*/


@media only screen and (max-width: 1024px) {
	#banner-wrap { width: 95%;}

	}
